@import 'variables.css';
@import 'header.css';
@import 'footer.css';
@import 'select.css';
@import 'dropdown.css';
@import 'swiper.css';
/*@import 'country.css';*/

@import 'loader.css';
@import 'card.css';
@import 'widget.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', sans-serif;
  box-sizing: border-box;
  background-color: var(--color-grey-dark);
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  row-gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-rows: 100px 1fr auto;
}

.container-country {
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-blend-mode: overlay, color;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.default-page {
  background-image: url('/images/mountain-min.jpeg'), url('/images/sea.jpeg');
  background-size: cover;
  background-blend-mode: overlay, color;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  display: flex;
  max-width: var(--max-width);
  width: 95vw;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.countries {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 430px);
  column-gap: 20px;
  row-gap: 30px;
  margin: 0 auto;
  padding: 40px 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/*Shadow*/

.shadow__item {
  filter: drop-shadow(10px 10px 10px hsl(0, 0%, 15%));
  transition: 0.4s ease-in-out;
}

.hover__item {
  transition: 0.4s ease-in-out;
}

.hover__item:hover {
  filter: drop-shadow(5px 5px 5px hsl(0, 0%, 15%));
}

.text-light-shadow {
  text-shadow: 1px 1px 1px #000;
}

/* Loader */

@media (min-width: 1420px) {
  .countries {
    grid-template-columns: repeat(3, 430px);
  }
}

@media (max-width: 995px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 950px) {
  .box {
    max-width: 98vw;
    width: 100%;
  }
}
