@import 'swiper/swiper-bundle.min.css';

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  transition: opacity 0.6s;
  color: white;
  align-self: center;
}

.pad-bottom {
  padding-bottom: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-slide {
  position: relative;
}

.gallery-top .swiper-slide {
  overflow-y: auto;
}

.gallery-thumbs .swiper-slide {
  opacity: 0.3;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide-active:hover {
  transition: 0.3s;
  z-index: 2000;
  transform: scale(1.01);
}

.place_description {
  max-height: 40%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  .place_image {
    height: auto;
  }
}

@media (max-width: 420px) {
  .place_description {
    -webkit-line-clamp: 2;
  }
}
